<h2 class="text-center my-5">News</h2>
<div class="row">
  <div class="col">
    <img src="assets/img/news-01.jpg" class="img-fluid">
    <div class="text-muted">We successfully completed our field excursion to Antarctica!</div>
    <p>In total, we sampled sediment and soil for five different projects! We are sure there are more news to come soon!</p>
  </div>

  <div class="col">
    <!--
    <img src="assets/img/john-huston-dog_h.webp" class="img-fluid">
    <div class="text-muted">fancy conference talk</div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
    <a href="#">Link (extern)</a>
    -->
  </div>

  <div class="col">
    <app-twitter-feed></app-twitter-feed>
  </div>
</div>


