<h2 class="text-center my-5">News</h2>
<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <img src="assets/img/news-01.jpg" class="img-fluid mb-3">
    <div class="text-muted mb-3">We successfully completed our field excursion to Antarctica!</div>
    <p>In total, we sampled sediment and soil for five different projects! We are sure there are more news to come soon!</p>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <img src="assets/img/news-02.jpg" class="img-fluid mb-3">
    <div class="text-muted mb-3">We received a seed money grant by the DFG SPP 1991 Taxon-Omics</div>
    <p>This seed money grant helps us in aquiring funding for an anticipated polar research project. <br>Thank you <a href="https://www.taxon-omics.com/" target="_blank">Taxon-Omics!</a></p>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <app-twitter-feed></app-twitter-feed>
  </div>
</div>


