<app-header [headline]="'Soils are sustained by a healthy microbiome'"
            [backgroundImg]="'../../assets/img/header-soil-biology.jpg'"></app-header>

<div class="container mb-5">
    <p class="mb-5">
        Protists are the main consumers of soil bacteria and fungi, adding to nutrient cycling and suppression of plant
        diseases. I investigate biotic interactions among the vast microbial diversity in soils. For this, I use -omics
        techniques, bioinformatics, and also microscopy-based approaches.
    </p>
    <h2 class="mb-5 text-center">Selected research</h2>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <h4>The Plant Microbiome</h4>
            <img src="assets/img/plant-microbiome.jpg" class="img-fluid">
            <p>
                Plants regulate attract certain soil bacteria from their environment. However, the presense and
                increased activity of this bacterial community attracts their predators, protists, too! Currently our
                research is funded by the DFG SPP 1991!
            </p>
            <a href="#" target="_blank">read more</a>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <h4>Fungivorous protists</h4>
            <img src="assets/img/fungivorous-protists.jpg" class="img-fluid">
            <p>
                Protists were long not recognized as consumers of soil fungi. We are working to explore the mechanisms
                that fungivorous protists evolved and the extant this process has on soil- and plant biology.
            </p>
            <a href="#" target="_blank">read more</a>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <h4>Soil formation in the Arctic and Antarctica</h4>
            <img src="assets/img/protists-in-soil.jpg" class="img-fluid">
            <p>
                Soils in the polar regions are special. They are frequently frozen and are uninhabitable for the
                majority of plants. Instead, these soils are covered by highly diverse biological soil crusts. I am
                currently investigating the biological interactions within. Obviously, these communities are threatened
                by climate change. Currently our research is funded by the DFG SPP 1058!
            </p>
            <a href="#" target="_blank">read more</a>
        </div>
    </div>
</div>
