<h2 class="mb-3">team members</h2>

<div class="card mb-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/kdumack.jpg" class="img-fluid rounded-start" alt="alt">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">PD Dr. Kenneth Dumack</h5>
                <p class="card-text">
                    <small class="text-muted">Postdoctoral Researcher</small>
                </p>
                <a href="mailto:kennethdumack@uni-koeln.de">kennethdumack@uni-koeln.de</a>
                <p class="card-text">
                    I am a postdoctoral researcher and young PI interested in eukaryotic microbiology. Write an email if you want to know more!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/jfreudenthal.jpg" class="img-fluid rounded-start" alt="alt">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">Jule Freudenthal, M.Sc.</h5>
                <p class="card-text">
                    <small class="text-muted">Ph.D. student </small>
                </p>
                <a href="mailto:jule.freudenthal@uni-koeln.de">jule.freudenthal@uni-koeln.de</a>
                <p class="card-text">
                    Jule works on the microbial communities and their biological interactions in the plant microbiome –
                    funded by DFG SPP 1991.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/cmartinezrendon.jpg" class="img-fluid rounded-start" alt="alt">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">Cristina Martínez Rendón, M.Sc.</h5>
                <p class="card-text">
                    <small class="text-muted">Ph.D. student</small>
                </p>
                <a href="mailto:c.martinezrendon@uni-koeln.de">c.martinezrendon@uni-koeln.de</a>
                <p class="card-text">
                  Cristina works on predator-prey interactions between algae and heterotrophic protists in polar biocrusts – funded by DFG SPP 1158.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/opiasecki.jpg" class="img-fluid rounded-start" alt="alt">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">Olivia Piasecki, B.Sc.</h5>
                <p class="card-text">
                    <small class="text-muted">student assistant</small>
                </p>
                <a href="mailto:opiaseck@smail.uni-koeln.de">opiaseck@smail.uni-koeln.de</a>
                <p class="card-text">
                  Olivia isolates, cultures and sequences algae and their predators from polar biocrusts – funded by DFG SPP 1158.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/lisenhart.jpg" class="img-fluid rounded-start" alt="alt">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">Lukas Isenhart, B.Sc.</h5>
                <p class="card-text">
                    <small class="text-muted">student assistant</small>
                </p>
                <a href="mailto:lisenhar@smail.uni-koeln.de">lisenhar@smail.uni-koeln.de</a>
                <p class="card-text">
                  Lukas processes transcriptomes of microbial eukaryotes – funded by DFG SPP 1991.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="card mb-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/thiscouldbeyou.png" class="img-fluid rounded-start" alt="alt">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">This could be you!</h5>
                <p class="card-text">
                    <small class="text-muted">We're looking for new colleagues!</small>
                </p>
                <p class="card-text">
                    Whether you are a bachelor's or master's student looking for a thesis project or you are already graduated and interested to join our team
                    on a professional basis, we are looking for you! I am looking forward to discuss with you, line out a project, and discuss funding possibilities!
                </p>
                <a class="btn" a href="mailto:kenneth.dumack@uni-koeln.de">apply here</a>
            </div>
        </div>
    </div>
</div>

