<h2 class="mb-3">team members</h2>

<div class="card mb-5">
  <div class="row">
    <div class="col-3">
      <img src="/assets/img/profile.jpg" class="img-fluid rounded-start" alt="alt">
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">PD Dr Kenneth Dumack</h5>
        <p class="card-text">
          <small class="text-muted">Workgroup leader, since 2014</small>
        </p>
        <a href="mailto:kennethdumack@uni-koeln.de">kennethdumack@uni-koeln.de</a>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          <br><br>
          You know who I am.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="row">
    <div class="col-3">
      <img src="/assets/img/profile.jpg" class="img-fluid rounded-start" alt="alt">
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">PD Dr Kenneth Dumack</h5>
        <p class="card-text">
          <small class="text-muted">Workgroup leader, since 2014</small>
        </p>
        <a href="mailto:kennethdumack@uni-koeln.de">kennethdumack@uni-koeln.de</a>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          <br><br>
          You know who I am.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="row">
    <div class="col-3">
      <img src="/assets/img/profile.jpg" class="img-fluid rounded-start" alt="alt">
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">This could be you</h5>
        <p class="card-text">
          <small class="text-muted">We're looking for a blabla</small>
        </p>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
        <a class="btn">apply here</a>
      </div>
    </div>
  </div>
</div>
