<div class="bg-dark text-white pt-5" id="contact">
  <div class="container">
    <footer class="py-2">
      <div class="row mb-3">
        <div class="col-6">
          <h5>Contact</h5>
          <div>
            <strong>PD Dr. Kenneth Dumack</strong><br>
            University of Cologne<br>
            AG Bonkowski<br>
            Zülpicher Str. 47b<br>
            50674 Cologne, Germany<br>
          </div>
        </div>

        <div class="col-6 text-end">
            <h5>Get in touch</h5>
            <div class="mb-3">
              kenneth.dumack@uni-koeln.de<br>
              +49221/4708242
            </div>
            <a href="mailto:kenneth.dumack@uni-koeln.de" class="btn btn-primary" type="button">send mail</a>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
        <p>© 2022 PD Dr. Kenneth Dumack. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li>
            <a href="https://twitter.com/KDumack" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
