<app-header [headline]="'The golden times of protistology arrived'"
            [backgroundImg]="'../../assets/img/header-protistology.jpg'"></app-header>

<div class="container mb-5">
    <p class="mb-5">
        Protistan diversity is yet largely unexplored. With novel technology, we are finally able to rapidly investigate
        the diversity and evolution of protists. My research focuses on the exploration of the Rhizaria, a poorly-known
        taxon as diverse as, for instance, the plants. Many Rhizaria feed on other eukaryotes or evolved astonishing
        parasite-like adaptions to their prey.
    </p>
    <h2 class="mb-5 text-center">Selected research</h2>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <h4>Diversity & Evolution</h4>
            <img src="assets/img/diversity-evolution.jpg" class="img-fluid">
            <p>
                We continuously map the diversity of Rhizaria. We described dozens of species and barcoded many more.
            </p>
            <a href="#" target="_blank">read more</a>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <h4>Method development for ecology</h4>
            <img src="assets/img/method-development.jpg" class="img-fluid">
            <p>
                Ecological research involving protists largely benefited by molecular tools, but still methods need to
                be adapted and developed. We accumulated historical knowledge to publically available resources.
            </p>
            <a href="#" target="_blank">read more</a>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <h4>Symbiosis & parasitism</h4>
            <img src="assets/img/symbiosis-parasitism.jpg" class="img-fluid">
            <p>
                Many rhizarians are parasites and are parasitized themselves. We explore the functions of symbiotic
                consortia by sequencing and exploring genomes.
            </p>
            <a href="#" target="_blank">read more</a>
        </div>
    </div>
</div>
