<h2 class="text-center my-5">Interests</h2>
<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <h4 class="mb-3">Protists in Soil Biology</h4>
    <img src="assets/img/protists-in-soil.jpg" class="img-fluid mb-3">
    <p>Protists are important predators of other soil micoorganisms like bacteria and fungi. My research focusses on protists in surface soils worldwide.</p>
    <a routerLink="soil-biology">read more</a>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <h4 class="mb-3">Protists in Wastewater Treatment</h4>
    <img src="assets/img/wwtp.jpg" class="img-fluid mb-3">
    <p>Water is precious resource. Microorganisms are utilized to treat and reclaim wastewaters. We show that protists significantly affect the wastewater microbiomes’ composition and function – contributing to the removal of parasites and excessive nutrients.</p>
    <a routerLink="wastewater-treatment">read more</a>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <h4 class="mb-3">Rhizarian Diversity & Evolution</h4>
    <img src="assets/img/rhizarian-diversity.jpg" class="img-fluid mb-3">
    <p>Rhizaria are a group of microbial eukaryotes with a similar diversity as plants or animals, but their diversity and evolution is among the least understood for all eukaryotes. We explore their evolutionary and genomic diversity.</p>
    <a routerLink="protistology">read more</a>
  </div>
</div>
