<app-header [headline]="'Protists are an unexplored part of the wastewater microbiome'"
            [backgroundImg]="'../../assets/img/header-wastewater-treatment.jpg'"></app-header>

<div class="container mb-5">
    <p class="mb-5">
        Protists shape the wastewater microbiome. I investigate biotic interactions among the vast microbial diversity
        in wastewater. For this, I use -omics techniques, bioinformatics, and also microscopy-based approaches.
    </p>
    <h2 class="mb-5 text-center">Selected research</h2>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <h4>Parasite removal</h4>
            <img src="assets/img/parasite-removal.jpg" class="img-fluid">
            <p>
                An important task of wastewater treatment is the removal of parasites to suppress distribution of
                potentially infectious organisms into the environment. We investigate whether, when, and how these
                parasites are removed. </p>
            <a href="#" target="_blank">read more</a>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <h4>Predator-prey interactions</h4>
            <img src="assets/img/predator-prey-interaction.jpg" class="img-fluid">
            <p>
                Bacteria are the most important actors in wastewater treatment. We invesigate how their community is
                shaped by their most abundant predators – protists.
            </p>
            <a href="#" target="_blank">read more</a>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <h4>Protistan diversity</h4>
            <img src="assets/img/protistan-diversity.jpg" class="img-fluid">
            <p>
                Due to a number of methodological drawbacks it was long impossible to exhaustively characterize the
                community of wastewater protists. With most modern sequencing tools we are finally able to get an
                insight what kind of protists dominate under which conditions.
            </p>
            <a href="#" target="_blank">read more</a>
        </div>
    </div>
</div>
