<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <img src="assets/img/portrait.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-md-9">
      <p class="mb-3">
        Welcome to the website of PD Dr. Kenneth Dumack. My research centers around the ecology and evolution of
        microbial eukaryotes, i.e. protists.
        <br><br>
        Here, I present my current research, my small group, interests, news and
        more. The here presented research is integrated in the workgroup Terrestrial Ecology at the University of
        Cologne.
      </p>
      <a class="btn btn-outline-primary btn-lg" href="../../assets/docs/CV_Dumack.pdf" target="_blank" role="button"
      >download cv (pdf, 18kb)</a>
    </div>
  </div>

</div>
